<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048479312536-o6qm0pt98c9p9p7gmvtie00pcp92835i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048479312536-o6qm0pt98c9p9p7gmvtie00pcp92835i</string>
	<key>API_KEY</key>
	<string>AIzaSyBgQU2NTUU6EwZq1yJzPt6J_b_wqiD__rg</string>
	<key>GCM_SENDER_ID</key>
	<string>1048479312536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>flutter.andybin.giftmoney</string>
	<key>PROJECT_ID</key>
	<string>giftmoney-91ce8</string>
	<key>STORAGE_BUCKET</key>
	<string>giftmoney-91ce8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048479312536:ios:ed90527a3ef6ef9ff27eed</string>
	<key>DATABASE_URL</key>
	<string>https://giftmoney-91ce8.firebaseio.com</string>
</dict>
</plist>